@font-face {
  font-family: titleFont;
  src: url('assets/fonts/Sebastian Bobby.otf');
}

html,
body {
  height: 100%;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f9efe9;
  background-image: url('https://www.transparenttextures.com/patterns/sandpaper.png');
  color: #424992;
}

.month {
  z-index: 10;
  position: absolute;
  left: 2rem;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.7rem;
  color: #fff;
  font-style: normal;
  line-height: 1.4;
  text-rendering: geometricPrecision;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}

.highlight {
  position: relative;
  color: #dcb85f;
}

.color {
  color: #dcb85f;
}

.highlight::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -15%;
  left: 0;
  display: block;
  width: 100%;
  height: 0rem;
  background-image: url('assets/images/highlight.png');
  background-size: 100% 100%;
}

#mainContent {
  max-width: 1980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hero {
  padding: 0 1.5rem;
  position: relative;
  max-height: 1200px;
  height: 100vh;
}

.month::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 1px;
  background-color: #fff;
}

.bird,
.birdChild,
.birdOneWing,
.birdBlue,
.birdWhite {
  position: relative;
  padding-left: 1.5rem;
  display: inline-block;
}

.bird::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./assets/images/bird-2.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.birdBlue::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./assets/images/birdBlue.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.birdWhite::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./assets/images/birdWhite.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.birdChild::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./assets/images/bird-child-2.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.birdOneWing::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 70%;
  transform: translateY(-70%);
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('./assets/images/bird-1.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.note {
  font-size: 1.25rem;
  color: #ffffffe6;
  font-weight: 300;
  line-height: 1.4;
  font-family: 'calluna', serif;
  text-rendering: geometricPrecision;
  font-style: normal;
}

.subnote {
  font-family: 'calluna-sans', 'proxima-nova', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: #ffffffe6;
  font-style: normal;
  line-height: 1.4;
  text-rendering: geometricPrecision;
}

.stat {
  max-width: 18rem !important;
  transform: translate(-50%, -50%);
  text-align: center;
}
.story {
  max-width: 23rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  z-index: 98;
}

#loadingScreen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f9efe9;
  color: #424992;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  z-index: 100;
}

footer {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  text-align: left;
}

footer .caption {
  margin-bottom: 8px;
  font-weight: 300;
}

footer .footerArea {
  margin: 1.5rem auto 1.5rem auto;
  padding: 0 1.25rem;
}
footer p {
  text-align: left;
  max-width: 600px;
  font-size: 18px;
  margin-bottom: 8px;
}
footer div div {
  margin-top: 2rem;
}

footer a {
  text-decoration: none;
  opacity: 0.7;
  font-size: 18px;
  color: #424992;
  border-bottom: 1px solid #4249926b;
  font-family: inherit;
}

.grid-label-lives-lost {
  font-weight: 600;
}

.grid-label-month {
  font-weight: 400;
}
.grid-label-year {
  font-weight: 400;
}

#text-outro {
  text-align: right;
  max-width: 24rem;
}

#endingSection {
  padding: 0 2rem;
}
#ending-canvas {
  min-height: 512px;
  min-width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

#endingSection {
  min-height: 512px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#ending-canvas canvas {
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#brush {
  width: 1626px;
  height: 400px;
  margin: 2rem auto;
}

#allAtOnce canvas {
  position: block;
}

#stories {
  width: 100%;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  height: 100%;
}

#footer-canvas {
  width: 100px;
  overflow: visible;
  height: 100px;
  margin: 0 auto 64px auto;
}

.menu {
  padding: 0.2rem;
  position: absolute;
  top: 0;
  right: 0;
  gap: 0rem;
  display: flex;
  align-items: baseline;
  z-index: 999;
}

.languages .btn-segment {
  margin: 0;
}

#p5_loading {
  display: none;
}

h1 {
  font-family: titleFont, 'adobe-handwriting-ernie';
  font-size: 12.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.title-alt {
  font-family: 'adobe-handwriting-ernie';
  font-size: 8rem;
  line-height: 0.95;
  text-align: center;
}

p {
  text-align: center;
  animation: fadeIn 2s;
  font-family: 'calluna', 'brando', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.4;
}

.lead {
  max-width: 512px;
}

.cyr {
  font-size: 18px !important;
  font-family: 'brando', serif;
  max-width: 512px;
  line-height: 1.4;
  text-rendering: auto;
}

.cyr-sans {
  font-size: 15px !important;
  font-family: 'proxima-nova', sans-serif;
  line-height: 1.3;
  text-rendering: auto;
}

section {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#legend .note:nth-child(1) {
  margin-left: 0;
}
#legend .note:nth-child(2) {
  margin-left: 10%;
}
#legend .note:nth-child(3) {
  margin-left: 27%;
  margin-bottom: 1rem;
}
#legend .note:nth-child(4) {
  margin-left: auto;
  margin-right: 30%;
}
#legend .note:nth-child(5) {
  margin-left: auto;
}
#legend .note:nth-child(6) {
  margin-left: auto;
  margin-right: 20%;
}

.caption {
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-size: 14px;
  font-family: 'calluna-sans', 'proxima-nova', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  opacity: 0.7;
  font-size: 14px;
  color: inherit;
  border-bottom: 1px solid #ffffff6b;
  font-family: 'calluna-sans', 'proxima-nova', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.underline-animation {
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  color: #424992;
}

.hand-drawn-underline::after {
  content: '';
  position: absolute;
  bottom: -5px;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI4IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCAyMjggNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuMDc1MzkgNS41MDMwOUMxLjg4ODU4IDUuMzM2MjIgMi4wMDM3IDUuNDYxNyAzLjEwNDEzIDUuNDAyOTlDMTAuNDAyMiA1LjAxMzY2IDE3Ljc0NDIgNC43MTc2OCAyNS4wNjMgNC40MTA5MkM2Ni45MjI3IDIuNjU2NDIgMTA4LjgwNCAxLjU5NTU5IDE1MC45MjcgMS42NDc5NUMxNjYuNTkzIDEuNjY3NDMgMTc5LjYzMiAxLjc1ODEgMTk1LjEzNCAyLjA4Njc5QzIwNC44MyAyLjI5MjM4IDIxNS41MTggMi4zOTI5MiAyMjUuMTEyIDMuMzg5NDNDMjI1LjQ4IDMuNDI3NjggMjI2LjIxNSAzLjQ4MDA0IDIyNi4wOTkgMy42MzQ2MkMyMjUuNzIzIDQuMTQwMTcgMjIzLjY0NCAzLjc2MDgzIDIyMi40MDkgMy43NjI3N0MyMjAuNzQxIDMuNzY1NCAyMTkuMDc0IDMuNzQyNDYgMjE3LjQwNyAzLjcyNTM5IiBzdHJva2U9IiM5MjcxMkYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  background-size: cover;
  animation: underlineAnimation 1.8s 1s linear forwards;
}

@keyframes underlineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.btn-segment {
  position: relative;
  padding: 4px;
  margin: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'calluna-sans', 'proxima-nova', sans-serif;
  font-weight: 300;
  color: #424992;
}

.hand-drawn-underline::after {
  content: '';
  position: absolute;
  bottom: -5px;
  z-index: -1;
  left: 0;
  width: 0;
  height: 3px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI4IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCAyMjggNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuMDc1MzkgNS41MDMwOUMxLjg4ODU4IDUuMzM2MjIgMi4wMDM3IDUuNDYxNyAzLjEwNDEzIDUuNDAyOTlDMTAuNDAyMiA1LjAxMzY2IDE3Ljc0NDIgNC43MTc2OCAyNS4wNjMgNC40MTA5MkM2Ni45MjI3IDIuNjU2NDIgMTA4LjgwNCAxLjU5NTU5IDE1MC45MjcgMS42NDc5NUMxNjYuNTkzIDEuNjY3NDMgMTc5LjYzMiAxLjc1ODEgMTk1LjEzNCAyLjA4Njc5QzIwNC44MyAyLjI5MjM4IDIxNS41MTggMi4zOTI5MiAyMjUuMTEyIDMuMzg5NDNDMjI1LjQ4IDMuNDI3NjggMjI2LjIxNSAzLjQ4MDA0IDIyNi4wOTkgMy42MzQ2MkMyMjUuNzIzIDQuMTQwMTcgMjIzLjY0NCAzLjc2MDgzIDIyMi40MDkgMy43NjI3N0MyMjAuNzQxIDMuNzY1NCAyMTkuMDc0IDMuNzQyNDYgMjE3LjQwNyAzLjcyNTM5IiBzdHJva2U9IiMyMDIyOTciIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  background-size: cover;
  animation: underlineAnimation 1s 0s linear forwards;
}

#intro-canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 120vh;
  width: 100vw;
  pointer-events: none;
}

.scroll {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%);
}
.scroll .sixtyfps-scroll-arrow-w.svelte-xvkow0 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
  border-radius: 50%;
  transition: border-color 1.5s cubic-bezier(0.32, 0.94, 0.6, 1),
    opacity 1.5s cubic-bezier(0.32, 0.94, 0.6, 1);
}

.languages .selected::after {
  content: '';
  position: absolute;
  bottom: 0px;
  z-index: -1;
  left: 0;
  width: 0;
  height: 3px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI4IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCAyMjggNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuMDc1MzkgNS41MDMwOUMxLjg4ODU4IDUuMzM2MjIgMi4wMDM3IDUuNDYxNyAzLjEwNDEzIDUuNDAyOTlDMTAuNDAyMiA1LjAxMzY2IDE3Ljc0NDIgNC43MTc2OCAyNS4wNjMgNC40MTA5MkM2Ni45MjI3IDIuNjU2NDIgMTA4LjgwNCAxLjU5NTU5IDE1MC45MjcgMS42NDc5NUMxNjYuNTkzIDEuNjY3NDMgMTc5LjYzMiAxLjc1ODEgMTk1LjEzNCAyLjA4Njc5QzIwNC44MyAyLjI5MjM4IDIxNS41MTggMi4zOTI5MiAyMjUuMTEyIDMuMzg5NDNDMjI1LjQ4IDMuNDI3NjggMjI2LjIxNSAzLjQ4MDA0IDIyNi4wOTkgMy42MzQ2MkMyMjUuNzIzIDQuMTQwMTcgMjIzLjY0NCAzLjc2MDgzIDIyMi40MDkgMy43NjI3N0MyMjAuNzQxIDMuNzY1NCAyMTkuMDc0IDMuNzQyNDYgMjE3LjQwNyAzLjcyNTM5IiBzdHJva2U9IiMyMDIyOTciIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  background-size: cover;
  animation: underlineAnimation 1s 0s linear forwards;
}

/* legens */

.how-to-read {
  width: 100%;
  height: 360px;
  display: flex;
  position: relative;
  max-height: 800px;

  align-items: center;
  justify-content: center;
}

.how-to-read .timeline {
  max-width: 160px;
  margin-right: 10px;
  color: #424992;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.how-to-read #legend {
  height: 200px;
  width: 600px;
  background: url('assets/images/legend-blue.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#legend {
  display: flex;
  flex-direction: column;
  max-width: 512px;
  width: 512px;
  margin: 5rem auto 3rem auto;
  padding: 5rem 2rem 2rem 2rem;
}

#legend .birdChild::before {
  transform: translate(-30%, -30%);
}
#legend .birdBlue::before {
  transform: translate(20%, -50%);
}
#legend .birdWhite::before {
  transform: translate(20%, -40%);
}

#legend canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#legend .note {
  display: flex;
  align-items: center;
  color: #424992;
  font-family: 'calluna', 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.4;
}

#legendNote01 {
  top: 30%;
  left: 10%;
}
#legendNote02 {
  top: 70%;
  left: 45%;
}

#grid {
  gap: 1rem;
  row-gap: 1rem;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  display: none;
}

#allAtOnce {
  width: 100%;
  margin-bottom: 0.4rem !important;
  width: -webkit-fill-available;
  position: relative;
  padding: 0 2rem 0 2rem;
}

.grid-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#grid canvas {
  width: 100%;
  height: 100%;
}

.grid-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 0.1rem;
  font-family: 'calluna', serif;
  font-size: 1rem;
  font-weight: 300;
  text-rendering: geometricPrecision;
}

.titleSpan {
  margin-left: 300px;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 712px) {
  html,
  body {
    font-size: 14px;
    overflow-x: hidden;
    height: 100%;
  }

  h1 {
    line-height: 1;
    font-size: 90px;
    text-align: center;
  }

  .titleSpan {
    margin-left: 0px;
  }

  .story {
    max-width: 22rem;
    width: 100%;
    text-align: center;
  }

  .subnote {
    width: 100%;
    text-align: center;
  }

  #grid {
    width: fit-content;
  }

  #allAtOnce {
    padding: 0 1rem 0 1rem;
  }

  #ending-canvas {
    margin-top: 0 !important;
  }

  #legend {
    width: 100%;
    padding: 3rem;
  }
}
