@font-face {
  font-family: titleFont;
  src: url('assets/fonts/Sebastian Bobby.otf');
}

@font-face {
  font-family: titleFontCyr;
  src: url('assets/fonts/FedericoMonoline.ttf');
}

html, body {
  height: 100%;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  width: 100%;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color:  #F9EFE9;
  background-image: url("https://www.transparenttextures.com/patterns/sandpaper.png");
  color: #202297;
}

.month-label{
  z-index: 10;
  position: absolute;
    left: 2rem;
  font-family: "calluna-sans", sans-serif;
  font-weight: 300;
font-style: normal;
  font-size: 0.75rem;
  color: #fff;
  font-style: normal;
    line-height: 1.4;
    text-rendering: geometricPrecision;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
}



#mainContent{
  max-width: 1980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hero{
  padding: 0 1.5rem;
  position: relative;
  max-height: 1200px;
  height: 100vh;
}


.month-label::before {
  content: '';
  position: absolute;
  left: -10px; /* Position the line to the left of the label */
  top: 50%; /* Vertically center the line */
  transform: translateY(-50%); /* Adjust for centering */
  width: 6px; /* Length of the line */
  height: 1px; /* Thickness of the line */
  background-color: #fff; /* Line color */
}

.bird, .birdChild, .birdOneWing, .birdBlue{
  position: relative;
  padding-left: 1.5rem; /* Space for the bird image */
  display: inline-block;
}

/* Add the bird image using ::before */
.bird::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 1.5rem; /* Width of the bird image */
  height: 1.5rem; /* Height of the bird image */
  background-image: url('./assets/images/bird-2.svg'); /* Path to the bird image */
  background-size: contain;
  background-repeat: no-repeat;
}
.birdBlue::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 1.5rem; /* Width of the bird image */
  height: 1.5rem; /* Height of the bird image */
  background-image: url('./assets/images/birdBlue.svg'); /* Path to the bird image */
  background-size: contain;
  background-repeat: no-repeat;
}
.birdChild::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 1.5rem; /* Width of the bird image */
  height: 1.5rem; /* Height of the bird image */
  background-image: url('./assets/images/bird-child-2.svg'); /* Path to the bird image */
  background-size: contain;
  background-repeat: no-repeat;
}
.birdOneWing::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 70%;
  transform: translateY(-70%);
  width: 1.25rem; /* Width of the bird image */
  height: 1.25rem; /* Height of the bird image */
  background-image: url('./assets/images/bird-1.svg'); /* Path to the bird image */
  background-size: contain;
  background-repeat: no-repeat;
}

.note{
  font-size: 1.25rem;
  color: #ffffffE6;
  font-weight: 300;
  line-height: 1.4;
  font-family: "calluna", serif;
  text-rendering: geometricPrecision;
  font-style: normal;
}


.subnote{
  font-family: "calluna-sans", sans-serif;
  font-weight: 300;
font-style: normal;
  font-size: 1rem;
  color: #ffffffE6;
  font-style: normal;
    line-height: 1.4;
    text-rendering: geometricPrecision;
}
.story{
  max-width: 24rem;
  position: absolute;
  display: flex;
  flex-direction: column;
    align-items: flex-start;
  gap: 1rem;
  z-index: 98;
}


#loadingScreen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  #F9EFE9;
  color: #202297;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  z-index: 100;
}
/* Hide SVG containers initially */




footer{
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  text-align: left;
}

footer .caption{
  letter-spacing: 0.03rem;
  margin-bottom:8px;
}

footer .footerArea {
  margin: 1.5rem auto 1.5rem auto;
  padding: 0 1.25rem;
}
footer p {
  text-align: left;
  max-width: 600px;
  font-size:18px;
  margin-bottom: 8px;
}
footer div div {
margin-top: 2rem;
}

footer a {
  
  text-decoration: none;
  opacity: 0.7;
  font-size: 18px;
  color: #202297;
  border-bottom: 1px solid #2022976b;
  font-family: inherit;
  
}
#ending{
  text-align: right;
  max-width: 300px;
}

#endingSection{
  padding: 0 2rem;
}
#ending-canvas{
  min-height: 512px;
  min-width: 100%;
  position: absolute;
  display: flex;
  align-items: center;

}

#endingSection{
  min-height: 512px;
  position: relative;
  display: flex;
  justify-content:  center;
  align-items: flex-end;
}

#ending-canvas canvas{
  position: absolute;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






#brush{
  width: 1626px;
  height: 400px;
  margin: 2rem auto;

}

#allAtOnce canvas{
  position: block;
}

#stories{
  width: 100%;
  width: -webkit-fill-available;
  position: absolute;
  height: 100%; 
}

#footer-canvas{
  width: 100px;
  overflow: visible;
  height: 100px;
  margin: 0 auto 64px auto;
}

.menu{
  padding: 0.2rem;
  position: absolute;
  top: 0;
  right: 0;
  gap: 0rem;
  display: flex;
  align-items: baseline;
}

.languages .btn-segment{
  margin: 0;
}


#p5_loading {
  display:none;
}

 





h1{
font-family: titleFont, serif;
font-size: 12.5rem;
font-style: normal;
font-weight: 400;
line-height: 160px; 
margin-bottom: 3rem;
margin-top: 64px;
}




p {
max-width: 512px;
text-align: center;
animation: fadeIn 2s;
font-family: "calluna", serif;
font-weight: 300;
font-style: normal;
font-size: 1.25rem;
line-height: 1.4;
}

section{
  min-width: 100%;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}


#legend .note:nth-child(1) { margin-left: 64px; }
#legend .note:nth-child(2) { margin-left: 96px; }
#legend .note:nth-child(3) { margin-left: 148px; }
#legend .note:nth-child(4) { margin-left: 300px; }
#legend .note:nth-child(5) { margin-left: 360px; }
#legend .note:nth-child(6) { margin-left: 250px; }

.caption{
  text-transform: uppercase;
  font-size: 14px;
  font-family: "calluna-sans", sans-serif;
  font-style: normal;
}

a{
  text-decoration: none;
  opacity: 0.7;
  font-size: 14px;
  color: inherit;
  border-bottom: 1px solid #ffffff6b;
  font-family: "calluna-sans", sans-serif;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.underline-animation {
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  color: #202297;
}

.hand-drawn-underline::after {
  content: '';
  position: absolute;
  bottom: -5px; 
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 0; 
  height: 3px; 
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI4IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCAyMjggNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuMDc1MzkgNS41MDMwOUMxLjg4ODU4IDUuMzM2MjIgMi4wMDM3IDUuNDYxNyAzLjEwNDEzIDUuNDAyOTlDMTAuNDAyMiA1LjAxMzY2IDE3Ljc0NDIgNC43MTc2OCAyNS4wNjMgNC40MTA5MkM2Ni45MjI3IDIuNjU2NDIgMTA4LjgwNCAxLjU5NTU5IDE1MC45MjcgMS42NDc5NUMxNjYuNTkzIDEuNjY3NDMgMTc5LjYzMiAxLjc1ODEgMTk1LjEzNCAyLjA4Njc5QzIwNC44MyAyLjI5MjM4IDIxNS41MTggMi4zOTI5MiAyMjUuMTEyIDMuMzg5NDNDMjI1LjQ4IDMuNDI3NjggMjI2LjIxNSAzLjQ4MDA0IDIyNi4wOTkgMy42MzQ2MkMyMjUuNzIzIDQuMTQwMTcgMjIzLjY0NCAzLjc2MDgzIDIyMi40MDkgMy43NjI3N0MyMjAuNzQxIDMuNzY1NCAyMTkuMDc0IDMuNzQyNDYgMjE3LjQwNyAzLjcyNTM5IiBzdHJva2U9IiM5MjcxMkYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo='); 
  background-repeat: no-repeat;
  background-size: cover;
  animation: underlineAnimation 1.8s 1s linear forwards;
}

@keyframes underlineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.btn-segment {
  position: relative;
  padding: 4px;
  margin: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "calluna-sans", sans-serif;
  font-weight: 300;
  color: #202297;

}

.hand-drawn-underline::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust position if needed */
  z-index: -1;
  left: 0;
  width: 0; /* Start with a width of 0 to hide initially */
  height: 3px; /* Adjust as needed */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI4IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCAyMjggNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuMDc1MzkgNS41MDMwOUMxLjg4ODU4IDUuMzM2MjIgMi4wMDM3IDUuNDYxNyAzLjEwNDEzIDUuNDAyOTlDMTAuNDAyMiA1LjAxMzY2IDE3Ljc0NDIgNC43MTc2OCAyNS4wNjMgNC40MTA5MkM2Ni45MjI3IDIuNjU2NDIgMTA4LjgwNCAxLjU5NTU5IDE1MC45MjcgMS42NDc5NUMxNjYuNTkzIDEuNjY3NDMgMTc5LjYzMiAxLjc1ODEgMTk1LjEzNCAyLjA4Njc5QzIwNC44MyAyLjI5MjM4IDIxNS41MTggMi4zOTI5MiAyMjUuMTEyIDMuMzg5NDNDMjI1LjQ4IDMuNDI3NjggMjI2LjIxNSAzLjQ4MDA0IDIyNi4wOTkgMy42MzQ2MkMyMjUuNzIzIDQuMTQwMTcgMjIzLjY0NCAzLjc2MDgzIDIyMi40MDkgMy43NjI3N0MyMjAuNzQxIDMuNzY1NCAyMTkuMDc0IDMuNzQyNDYgMjE3LjQwNyAzLjcyNTM5IiBzdHJva2U9IiMyMDIyOTciIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo='); 
  background-repeat: no-repeat;
  background-size: cover;
  animation: underlineAnimation 1s 0s linear forwards;
}


#alert-canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh + 500px);
  width: 100vw;
  pointer-events: none;
}

.scroll{
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%);
}
.scroll .sixtyfps-scroll-arrow-w.svelte-xvkow0 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, .08) !important;
  border-radius: 50%;
  transition: border-color 1.5s cubic-bezier(.32,.94,.6,1), opacity 1.5s cubic-bezier(.32,.94,.6,1);
}

.language-option {
  cursor: pointer;
  padding: 0 4px;
  font-family: inherit;
}

.languages .selected::after {
    content: '';
    position: absolute;
    bottom: 0px; 
    z-index: -1;
    left: 0;
    width: 0; 
    height: 3px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI4IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCAyMjggNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuMDc1MzkgNS41MDMwOUMxLjg4ODU4IDUuMzM2MjIgMi4wMDM3IDUuNDYxNyAzLjEwNDEzIDUuNDAyOTlDMTAuNDAyMiA1LjAxMzY2IDE3Ljc0NDIgNC43MTc2OCAyNS4wNjMgNC40MTA5MkM2Ni45MjI3IDIuNjU2NDIgMTA4LjgwNCAxLjU5NTU5IDE1MC45MjcgMS42NDc5NUMxNjYuNTkzIDEuNjY3NDMgMTc5LjYzMiAxLjc1ODEgMTk1LjEzNCAyLjA4Njc5QzIwNC44MyAyLjI5MjM4IDIxNS41MTggMi4zOTI5MiAyMjUuMTEyIDMuMzg5NDNDMjI1LjQ4IDMuNDI3NjggMjI2LjIxNSAzLjQ4MDA0IDIyNi4wOTkgMy42MzQ2MkMyMjUuNzIzIDQuMTQwMTcgMjIzLjY0NCAzLjc2MDgzIDIyMi40MDkgMy43NjI3N0MyMjAuNzQxIDMuNzY1NCAyMTkuMDc0IDMuNzQyNDYgMjE3LjQwNyAzLjcyNTM5IiBzdHJva2U9IiMyMDIyOTciIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo='); 
    background-repeat: no-repeat;
    background-size: cover;
    animation: underlineAnimation 1s 0s linear forwards;
  } 






/* legens */

.how-to-read {
  width: 100%;
  height: 360px;
  display: flex;
  position: relative;
  max-height: 800px;

    align-items: center;
    justify-content: center;
}



.how-to-read .timeline {
  max-width: 160px;
 margin-right: 10px;
  color: #202297;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.how-to-read #legend {
  height: 200px;
  width: 600px;
  background: url('assets/images/legend-blue.png');
  background-size: cover;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#legend {
  display: flex;
  flex-direction: column;
  max-width: 612px;
    margin: 5rem auto 3rem auto;
    padding: 5rem 2rem;
}


#legend .birdChild::before{
transform: translate(-30%, -30%);
}
#legend .birdBlue::before{
transform: translate(20%, -50%);
}

#legend canvas{
  position: absolute;
  top: 0; 
  left: 0;
}

.how-to-read #legend .note {
  position: absolute;
  font-size: 18px;

}
#legend .note {
  display: flex;
  align-items: center;
  color: #202297;;
  font-family: "calluna", serif;
  font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.8;
}

#legendNote01{
  top: 30%;
  left: 10%;
}
#legendNote02{
  top: 70%;
  left: 45%;
}


/* grid */



#grid {
  gap: 1rem;
  row-gap: 2rem;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  display: none;
}


#allAtOnce {
  width: 100%;
  margin-bottom: 0.4rem!important;
  width: -webkit-fill-available;
  position: relative;
  padding: 0 2rem 0 2rem;
}


.grid-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#grid canvas {
    width: 100%;
    height: 100%; 
}


.grid-label {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  justify-content: space-between; /* Space out rows if needed */
  align-items: stretch;
  width: 100%;
  padding: 0px 2px;
  box-sizing: border-box;
  font-size: 14px;
}

.grid-label-top {
  display: flex;
  font-size: 1rem;
  justify-content: space-between; /* Align text on opposite sides */
  font-weight: bold;
  text-rendering: geometricPrecision;
  margin-bottom: 2px; /* Add spacing between rows */

}

.grid-label-bottom {
  display: flex;
  justify-content: space-between; /* Align totals on opposite sides */
  font-family: "calluna-sans", sans-serif;
  font-weight: 300;
font-style: normal;
  font-size: 1rem;
  margin-bottom: 0px; /* Add spacing between rows */
  text-rendering: geometricPrecision;
  color: #202297E6;

}

.grid-label-month {
  font-weight: bold; /* Highlight the month */
}


.titleSpan{
  margin-left: 300px;
 }

.grid-label-total,
.grid-label-children-total {
  font-weight: normal;
}


#buttons{
  display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
}

@media only screen and (max-width: 712px) {

#buttons{
  display: none;
}


#grid{
  display: grid;
}
 html,body{
  font-size: 14px;
  overflow-x: hidden;
  height: 100%;
 }

 h1{
  line-height: 1;
  font-size: 90px;
  text-align: center;
 }


 .titleSpan{
  margin-left: 0px;
 }



 .story{
max-width: 20rem; 
}

#grid{
  width: fit-content;
}



#ending-canvas{
  margin-top: 0!important;
}

.how-to-read{
  display: none;
}



}